{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body%}
  <div class="row justify-content-center">
    {% if posts %}
      {% for post in posts %}
      <div class="card m-3" style="width: 20rem;">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="user image">
        {% else %}
        <img src="https://picsum.photos/400/300/?random" class="card-img-top" alt="user image">
        {% endif %}
        <div class="card-header">
          <a href="{% url 'people' post.user.username %}">
            <span>{{ post.user.username }}</span>
          </a>
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          <!-- 작성자만 수정/삭제 가능 -->
          {% if post.user == request.user %}
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'posts:update' post.id %}" class="btn btn-success">수정</a>
            <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a>
          </div>
          {% endif %}
        </div>
        <!-- 좋아요 버튼 추가 -->
        <div class="card-body">
          <a class="side-menu" href="{% url 'posts:like' post.id %}">
            {% if user in post.like_users.all %}
            <i class="fas fa-heart like"></i>
            {% else %}
            <i class="far fa-heart liked"></i>
            {% endif %}
          </a>
          {{ post.like_users.count }}명이 좋아합니다.
        </div>
        <div class="card-body">
          <div class="card-text">
            <!-- Comment ModelForm -->
            <form action="{% url 'posts:comment_create' post.id %}" method="POST">
              <!-- Bootstrap Form -->
              {% bootstrap_form comment_form %}
              {% csrf_token %}
            </form>
            <!-- 해당 글에 작성된 댓글을 모두 출력-->
          </div>
          {% for comment in post.comment_set.all %}
          <div class="card-text">
            <strong>{{ comment.user.username }}</strong>
            <span>{{ comment.content }}</span>
            <a href="{% url 'posts:comment_remove' post.id comment.id %}" class="text-danger">
              <i class="fas fa-times"></i>
            </a>
          </div>
          {% empty %}
          <div class="card-text">
            <span>댓글이 없습니다.</span>
          </div>
          {% endfor %}
        </div>
      </div>
      {% empty %}
      <p>다른 친구들을 팔로우 해보세요!</p>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}