{% extends 'base.html' %}
{% block body%}
  <div class="row justify-content-center">
    {% if posts %}
      {% for post in posts %}
      <div class="card my-3" style="width: 40rem;">
        <img src="https://picsum.photos/400/300/?random" class="card-img-top" alt="user image">
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'posts:update' post.id %}" class="btn btn-success">수정</a>
            <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}