{% extends 'base.html' %}
{% block body%}
  <div class="row justify-content-center">
    {% if posts %}
      {% for post in posts %}
      <div class="card m-3" style="width: 20rem;">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="user image">
        {% else %}
        <img src="https://picsum.photos/400/300/?random" class="card-img-top" alt="user image">
        {% endif %}
        <div class="card-header">
          <span>{{ post.user }}</span>
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          <!-- 작성자만 수정/삭제 가능 -->
          {% if post.user == request.user %}
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'posts:update' post.id %}" class="btn btn-success">수정</a>
            <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a>
          </div>
          {% endif %}
        </div>
        <!-- 좋아요 버튼 추가 -->
        <div class="card-body">
          <a href="{% url 'posts:like' post.id %}">
            {% if user in post.like_users.all %}
            <i class="fas fa-heart"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
          </a>
        </div>
        <div class="card-text">
          {{ post.like_users.count }}명이 좋아합니다.
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}