{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title d-inline">{{ people.username }}</h1>
      <form action="{% url 'accounts:follow' people.id %}" method="POST">
        <!-- 만약 현재 접속한 유저가 해당 페이지의 유저를 이미 팔로우한 경우 -->
        {% if user != people %}
          {% if user in people.followers.all %}
          <button class="btn btn-outline-primary" type="submit">unfollow</button>
          {% else %}
          <button class="btn btn-primary" type="submit">follow</button>
          {% endif %}
        {% endif %}
        {% csrf_token %}
      </form>
      <div class="card-text mr-2 font-weight-bold">{{ people.profile.nickname }}</div>
      <hr/>
      <div class="card-text my-3">{{ people.profile.description }}</div>
      {% if user == people %}
      <hr/>
      <a href={% url 'accounts:update' %} class="btn btn-info">회원 정보 수정</a>
      <a href={% url 'accounts:password' %} class="btn btn-info">비밀 번호 수정</a>
      <a href={% url 'accounts:delete' %} class="btn btn-danger">회원 탈퇴</a>
      {% endif %}
      <div class="row my-4">
      {% for post in people.post_set.all %}
        <div class="profile-posts col-12 col-md-4 overflow-hidden">
        {% if post.image %}
          <img src="{{ post.image.url }}" class="img-fluid"></img>
        {% else %}
          <img src="https://picsum.photos/300/300/?random" class="img-fluid"></img>
        {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}