{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ people.username }}</h1>
      <div class="card-text font-weight-bold">{{ people.profile.nickname }}</div>
      <hr/>
      <div class="card-text my-3">{{ people.profile.description }}</div>
      {% if user == people %}
      <hr/>
      <a href={% url 'accounts:update' %} class="btn btn-info">회원 정보 수정</a>
      <a href={% url 'accounts:password' %} class="btn btn-info">비밀 번호 수정</a>
      <a href={% url 'accounts:delete' %} class="btn btn-danger">회원 탈퇴</a>
      {% endif %}
      <div class="row my-4">
      {% for post in people.post_set.all %}
        <div class="profile-posts col-12 col-md-4 overflow-hidden">
        {% if post.image %}
          <img src="{{ post.image.url }}" class="img-fluid"></img>
        {% else %}
          <img src="https://picsum.photos/300/300/?random" class="img-fluid"></img>
        {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}